@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: default;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #e0dac0;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

button {
    border: none;
}

.image {
    height: 50%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 100%;
}

.message {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'Montserrat', sans-serif;

    width: 50%;
    height: 50%;

    padding: 10px;

    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: #1f1f1f;
    color: #e0dac0;


    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.button:hover {
    cursor: pointer;

    color: #1f1f1f;
    background-color: #ffffff;
}

@media only screen and (max-width: 2560px) {
    .image {
        height: 360px;
    }

    .image img {
        width: 340px;
        height: 340px;
    }
}

@media only screen and (max-width: 1440px) {
    .image {
        height: 300px;
    }

    .image img {
        width: 280px;
        height: 280px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 65%;
    }

    .image {
        height: 240px;
    }

    .image img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 65%;
    }

    .image {
        height: 140px;
    }

    .image img {
        width: 120px;
        height: 120px;
    }

    .message {
        font-size: 14px;
    }

    .buttonWrapper {
        height: fit-content;
    }

    .button {
        width: 80%;
        height: fit-content;

        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        width: 65%;
    }

    .image {
        height: 140px;
    }

    .image img {
        width: 120px;
        height: 120px;
    }

    .message {
        font-size: 14px;
    }

    .buttonWrapper {
        height: fit-content;
    }

    .button {
        width: 80%;
        height: fit-content;

        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        width: 65%;
    }

    .image {
        height: 140px;
    }

    .image img {
        width: 120px;
        height: 120px;
    }

    .message {
        font-size: 14px;
    }

    .buttonWrapper {
        height: fit-content;
    }

    .button {
        width: 80%;
        height: fit-content;

        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 65%;
    }

    .image {
        height: 140px;
    }

    .image img {
        width: 100px;
        height: 100px;
    }

    .message {
        font-size: 12px;
    }

    .buttonWrapper {
        height: fit-content;
    }

    .button {
        width: 80%;
        height: fit-content;

        font-size: 12px;

        padding: 5px;
    }
}